{% extends "layout/base-no-search-bar-no-back.html" %}

{% block pageTitle %}
{{ serviceName }}
{% endblock %}

{% block content %}

<br>
<p>Todays fake date 5/7/2020</p>
<ol class="govuk-list govuk-list--number">
    <li><a href="statements/ijohnson">I Johnson</a> – Previous work, Current work</li>
    <li><a href="statements/sblack">S Black</a> – Previous work, Current pension</li>
    <li><a href="statements/rgreen">R Green</a> – Previous work, Current pension, Education</li>
    <li><a href="statements/shamilton">S Hamilton</a> – Back dating, Previous work</li>
    <li><a href="statements/mjohnson">M Johnson</a> – CIS Mismatch, Previous work</li>
    <li><a href="statements/pstankowski">P Stankowski</a> – CIS Other benefit, Previous work</li>
    <li><a href="statements/kbhopal">K Bhopal</a> – Previous work</li> 
</ol>

<!--
Required by Application
title
first name
last name
nino
DOB, Address

{% set mJohnson %}
{% include "future-team/statements/tables/mjohnson.html" %}
{% endset %}

{{ govukDetails({
    summaryText: "M Johnson overview",
    open: false,
    html: mJohnson
}) }}

<p><a href='statements/mjohnson'>View M Johnson full customer statement</a>.</p>
-->
{% endblock %}
