{% extends "layout/summary.html" %}

{% block pageTitle %}
  {{ serviceName }}: Application for {{ data['service-short-name']}} Customer Statement | {{ currentClaimantData.claimant.title }} {{ currentClaimantData.claimant.firstName }} {{ currentClaimantData.claimant.lastName }}: {{ currentClaimantData.claimant.nino }}
{% endblock %}

{% block header %}
  
  {# Set serviceName in config.js. #}
  {{ dwpHeader({
    "homepageUrl": "/",
    "serviceName": serviceName,
    "serviceUrl": "/",
    "containerClasses": "govuk-width-container",
    "searchBar": false
  }) }}

  {% include "./key-details.html" %}

{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}

{% set matchTag %}
{{ govukTag({
  text: "match",
  classes: "govuk-tag--grey"
}) }}
{% endset %}

{% set misMatchTag %}
{{ govukTag({
  text: "mismatch",
  classes: "govuk-tag--red"
}) }}
{% endset %}

<div class="govuk-grid-row govuk-!-margin-top-4 dwp-print-hide">
  <div class="govuk-grid-column-two-thirds">

  <h1 class="govuk-heading-l govuk-!-margin-top-6 govuk-visually-hidden">BIO check claim</h1>

  <section class="dwp-claim-section dwp-print-no-break govuk-!-margin-top-6">
    <h2 class="govuk-heading-m govuk-visually-hidden">Fraud check</h2>
    <div class="govuk-warning-text">
      <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
      <strong class="govuk-warning-text__text">
        <span class="govuk-warning-text__assistive">Warning</span>
        <span class="govuk-heading-s govuk-!-margin-bottom-0">Bank account name does not match claimant's name</span>
      </strong>
    </div>
  </section>


  <section class="dwp-claim-section dwp-print-no-break">
    <h2 class="govuk-heading-m">Searchlight check</h2>
    {{ dwpSummaryList({
      rows: [
        {
          key: {
            text: "National Insurance number"
          },
          value: {
            text: "WE 24 57 44 D"
          },
          actions: {
            items: [
              {
                classes: "govuk-tag--grey",
                text: "Match"
              }
            ]
          }
        }, {
          key: {
            text: "Name"
          },
          value: {
            text: "Mr Ian Johnson"
          },
          actions: {
            items: [
              {
                classes: "govuk-tag--grey",
                text: "Match"
              }
            ]
          }
        }, {
          key: {
            text: "Date of birth"
          },
          value: {
            text: "29/04/1972"
          },
          actions: {
            items: [
              {
                classes: "govuk-tag--grey",
                text: "Match"
              }
            ]
          }
        }, {
          key: {
            text: "Home address"
          },
          value: {
            html: "
              <span class='dwp-print-block'>12 Scaresdale Avenue</span>
              <span class='dwp-print-block'>Blackpool</span>
              <span class='dwp-print-block'>Lancashire</span>
              <span class='dwp-print-block'>FY4 3HA.</span>
            "
          },
          actions: {
            items: [
              {
                classes: "govuk-tag--grey",
                text: "Match"
              }
            ]
          }
        }
      ]
    }) }}
  </section>

<!-- About you -->
<section class="dwp-claim-section">
  <h2 class="govuk-heading-m govuk-!-margin-top-8">Contact details</h2>
  <dl class="app-check-your-answers app-check-your-answers--long">
    {{ checkAnswersItem("Phone", "07880 123456") }}
    {{ checkAnswersItem("Email address", "i.johnson@example.com") }}
  </dl>
</section>

<!-- Payment information -->
<section class="dwp-claim-section dwp-print-no-break">
  <h2 class="govuk-heading-m govuk-!-margin-top-8">Bank details</h2>
  {{ dwpSummaryList({
    rows: [
      {
        key: {
          text: "Name of account holder"
        },
        value: {
          text: "I & RT Johnson"
        },
        actions: {
          items: [
            {
              classes: "govuk-tag--red",
              text: "Mismatch"
            }
          ]
        }
      }, {
        key: {
          text: "Sort code"
        },
        value: {
          text: "16 20 16"
        }
      }, {
        key: {
          text: "Account number"
        },
        value: {
          text: "11709856"
        }
      }
    ]
  }) }}
</section>

<!-- Benefit information -->
<section class="dwp-claim-section dwp-print-no-break">
  <h2 class="govuk-heading-m govuk-!-margin-top-8">Benefit interest</h2>
  <dl class="app-check-your-answers app-check-your-answers--long">
    {{ checkAnswersItem("Universal Credit", "No") }}
    {{ checkAnswersItem("Employment & Support Allowance (ESA)", "No") }}
  </dl>
</section>
  

  </div>

  <div class="govuk-grid-column-one-third">
    
    <aside class=" govuk-!-margin-top-9" role="complementary">

            {{ govukButton({
              text: "Start bio questions",
              href: "bio-questions"
            }) }}

            
          <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

            <h3 class="govuk-heading-m">Claim history</h3>

          {{ dwpTimeline({
            items: [
              {
                heading: "ID not verified",
                label: "label",
                author: "by DWP Trust Hub",
                date: "on " + time | momentNowSubtract32,
                time: "at 4:43pm"
              },
              {
                heading: "Application submitted",
                date: "by claimant on " + time | momentNowSubtract32,
                time: "at 4:32pm",
                classes: "dwp-timeline-entry--closing"
              }
            ]
          }) }}

    </aside>

  </div>

</div>


{% endblock %}
