// global styles for <a> and <p> tags
$govuk-global-styles: true;

// Import GOV.UK Frontend
@import 'node_modules/govuk-frontend/all';

// DWP components
@import 'dwp-header/dwp-header';
@import 'dwp-timeline/dwp-timeline';
@import 'dwp-key-details-bar/dwp-key-details-bar';
@import 'dwp-search-box/dwp-search-box';
@import 'dwp-secondary-navigation/dwp-secondary-navigation';

// Patterns that aren't in Frontend
@import 'patterns/check-your-answers';
@import 'patterns/task-list';
@import 'patterns/related-items';

// Components that aren't in Frontend
@import 'components/cookie-banner';
@import 'components/input-overrides';
@import 'components/info-box';
@import 'components/spring-checkbox-fix';
@import 'components/misc';
@import 'components/char-count';
@import 'components/currency-input';
@import 'components/print';
@import 'components/align';
@import 'components/tile';
@import 'components/bar';
@import 'components/debug';
@import 'components/tag';
@import 'components/notification-banner';
@import 'components/inset-text-background';
@import 'components/search-box-nh';
@import 'components/accessible-autocomplete';
@import "components/dwp-side-nav";

.progress-container {
    background-image: url(/public/images/spinner.gif);
    background-repeat: no-repeat;
    background-position: center top;
    text-align: center;
    padding-top: 40px;
    min-height: 400px;
}

$large: 1220px;

.dwp-layout-sidebar {
    .dwp-header__container,
    .govuk-footer .govuk-width-container  {
        max-width: none;
        margin-left: 30px;
        margin-right: 30px;
    }
}

.dwp-main-wrapper {
    padding-left: 2rem;
    padding-right: 2rem;
}

@include mq($from: desktop) {
    .dwp-col-wrapper {
        display: flex;
    }

    .dwp-main-wrapper {
        flex: 1;
        // height: calc(100vh - 60px);
        // overflow: auto;
    }

    .dwp-col-left {
        min-width: 220px;
        width: 15%;
        // min-height: calc(100vh - 163px);
    }
    .dwp-col-main {
        flex: 1;
    }

    .dwp-template {
        // overflow: hidden;
    }

}

@include mq($from: $large) {
    .dwp-main-wrapper {
        display: flex;
        flex-wrap: wrap;
        padding-left: 4rem;
        padding-right: 4rem;

        .govuk-phase-banner {
            width: 100%;
        }
    }
    .dwp-col-left {
        min-width: 300px;
    }
    .dwp-col-right {
        min-width: 260px;
        width: 35%;
        // height: calc(100vh - 163px);
    }
}

// .dwp-main-wrapper {
//     padding-left: 15px;
//     padding-right: 15px;

//     @include mq($from: desktop) {
//         padding-left: 4rem;
//         padding-right: 4rem;
//     }
// }



.dwp-col-left {
    background-color: govuk-colour("grey-3");
}

.dwp-col-right {

}

.dwp-col-main,
.dwp-col-right {
    padding-top: 2rem;
}

.govuk-right-align-from-tablet {
    @include mq($from: tablet) {
        text-align: right;
    }
}

.dwp-claim-section {
    &--check {
        .govuk-tag {
            float: left;
            margin-right: 10px;
        }
    }
}
