{% extends "layout/base-no-search-bar-user-1.html" %}

{% block pageTitle %} My claims – 
{{ serviceName }}: DWP Agent – Service centre
{% endblock %}

{% block content %}

  {% set items = claimListData %}
  
  {# Only display the unviewed claims total #}
  {% set unviewedClaimsTotal = 0 %}
  {% for item in items %}
    {% set unviewedClaimsTotal = unviewedClaimsTotal + 1 if not(item.viewed) else unviewedClaimsTotal %}
  {% endfor %}

  <div class="govuk-!-margin-top-6">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-half">
        <span class="govuk-caption-m">Claims allocated to</span>
        <h1 class="govuk-heading-l">Andrew Server</h1>
      </div>
      <div class="govuk-grid-column-one-half govuk-align-right-from-desktop">
        {% set time = now() %}
        <div class="govuk-body-m govuk-!-margin-top-4">Total claims {{ time | momentFormat2 }}: <strong class="govuk-!-font-size-24">17</strong></div>
      </div>
    </div>
  </div>

  {{ dwpSecondaryNavigation({
    items: [{
      label: "All (17)",
      url: "/design-ideas/1313-case-load-management-mvp/service-centre-agent/all-claims-agent",
      active: true
    }, {
      label: "Brought forward (4)",
      url: "/design-ideas/1313-case-load-management-mvp/service-centre-agent/all-claims-agent-bf"
    }, {
      label: "Outstanding (1) ",
      url: "/design-ideas/1313-case-load-management-mvp/service-centre-agent/all-claims-agent-outstanding"
    }, {
      label: "Refer to DM (5) ",
      url: "/design-ideas/1313-case-load-management-mvp/service-centre-agent/all-claims-agent-refer-to-dm"
    }, {
      label: "Transfer to clerical (6) ",
      url: "/design-ideas/1313-case-load-management-mvp/service-centre-agent/all-claims-agent-ttc"
    }, {
      label: "New (1) ",
      url: "/design-ideas/1313-case-load-management-mvp/service-centre-agent/all-claims-agent-new"
    }]
  }) }}

  {% set myClaimsItems = [
  { 
    name: "Kai Barber",
      nino: "NG 56 43 44 Y",
      submissionDate: "20/01/2021",
      pushedDate: "20/11/2018",
      status: "Clerical",
      statusNew: "New claim",
      tagClass: "new",
      viewed: false,
      agent: "Ted Hughes"
  },
  {
      name: "Doug Ireland",
      nino: "GC 45 88 19 J",
      submissionDate: "20/01/2021",
      pushedDate: "20/11/2018",
      status: "Clerical",
      statusNew: "Referred to DM",
      tagClass: "fail",
      viewed: false,
      agent: "John Hardcastle"
  },
  {
      name: "Urielle Calhoun",
      nino: "GC 45 88 19 J",
      submissionDate: "20/01/2021",
      pushedDate: "20/11/2018",
      status: "Clerical",
      statusNew: "Referred to DM",
      tagClass: "fail",
      viewed: false,
      agent: "John Hardcastle"
  },
  {
      name: "Dave Wales",
      nino: "GC 45 88 19 J",
      submissionDate: "19/01/2021",
      pushedDate: "20/11/2018",
      status: "Clerical",
      statusNew: "Referred to DM",
      tagClass: "fail",
      viewed: false,
      agent: "John Hardcastle"
  },
  { 
   name: "Georgia Kruvitz",
      nino: "GK 12 19 88 Y",
      submissionDate: "19/01/2021",
      pushedDate: "20/11/2018",
      status: "Clerical",
      statusNew: "Transferred to clerical",
      tagClass: "success",
      viewed: false,
      agent: "Jane MacDonald"
  },
  { 
    name: "Jack Holmes",
      nino: "	ZJ 14 79 56 M",
      submissionDate: "19/01/2021",
      pushedDate: "20/11/2018",
      status: "Clerical",
      statusNew: "Transferred to clerical",
      tagClass: "success",
      viewed: false,
      agent: "Nadia Khomani"
  },
  {
      name: "Jen Witherspoon",
      nino: "	JW 04 59 89 H",
      submissionDate: "19/01/2021",
      pushedDate: "20/11/2018",
      status: "Clerical",
      statusNew: "Claim outstanding",
      tagClass: "outstanding",
      viewed: false,
      agent: "Sylvia Plath"
  },
  {
      name: "Laurence Cutting",
      nino: "GC 45 88 19 J",
      submissionDate: "18/01/2021",
      pushedDate: "20/11/2018",
      status: "Clerical",
      statusNew: "Brought forward",
      tagClass: "fail",
      viewed: false,
      agent: "Sylvia Plath"
  },
  {
      name: "Mike Robson",
      nino: "WM 12 34 56 C",
      submissionDate: "18/01/2021",
      pushedDate: "20/11/2018",
      status: "Clerical",
      statusNew: "Brought forward",
      tagClass: "fail",
      viewed: false,
      agent: "Ted Hughes"
  },
  {
      name: "Reece Emerson",
      nino: "GC 45 88 19 J",
      submissionDate: "18/01/2021",
      pushedDate: "20/11/2018",
      status: "Clerical",
      statusNew: "Transferred to clerical",
      tagClass: "success",
      viewed: false,
      agent: "John Hardcastle"
  },
  {
      name: "Hop Meyers",
      nino: "GC 45 88 19 J",
      submissionDate: "18/01/2021",
      pushedDate: "20/11/2018",
      status: "Clerical",
      statusNew: "Brought forward",
      tagClass: "fail",
      viewed: false,
      agent: "John Hardcastle"
  },
  {
      name: "Rebekah Murray",
      nino: "GC 45 88 19 J",
      submissionDate: "18/01/2021",
      pushedDate: "20/11/2018",
      status: "Clerical",
      statusNew: "Brought forward",
      tagClass: "fail",
      viewed: false,
      agent: "John Hardcastle"
  },
  { 
   name: "Galena Collier",
      nino: "GK 12 19 88 Y",
      submissionDate: "17/01/2021",
      pushedDate: "20/11/2018",
      status: "Clerical",
      statusNew: "Transferred to clerical",
      tagClass: "success",
      viewed: false,
      agent: "Jane MacDonald"
  },
  { 
    name: "Laurel Valencia",
      nino: "	ZJ 14 79 56 M",
      submissionDate: "16/01/2021",
      pushedDate: "20/11/2018",
      status: "Clerical",
      statusNew: "Referred to DM",
      tagClass: "fail",
      viewed: false,
      agent: "Nadia Khomani"
  },
  {
      name: "Reese Hanson",
      nino: "	JW 04 59 89 H",
      submissionDate: "16/01/2021",
      pushedDate: "20/11/2018",
      status: "Clerical",
      statusNew: "Transferred to clerical",
      tagClass: "success",
      viewed: false,
      agent: "Sylvia Plath"
  },
  {
      name: "Gwendolyn Hayden",
      nino: "GC 45 88 19 J",
      submissionDate: "15/01/2021",
      pushedDate: "20/11/2018",
      status: "Clerical",
      statusNew: "Transferred to clerical",
      tagClass: "success",
      viewed: false,
      agent: "Sylvia Plath"
  },
  {
      name: "Al Kruchner",
      nino: "WM 12 34 56 C",
      submissionDate: "15/01/2021",
      pushedDate: "20/11/2018",
      status: "Clerical",
      statusNew: "Referred to DM",
      tagClass: "fail",
      viewed: false,
      agent: "Ted Hughes"
  }
]
%}

  <div class="govuk-!-margin-top-6">
  {% set rows = [] %}
  {% set foundItems = 0 %}
  {% for item in myClaimsItems %}
    {% if not(item.viewed) %}
      {% if foundItems < CLAIMS_PER_PAGE %}
        {% set rows = rows | push([
          { html: '<a href="/design-ideas/1313-case-load-management-mvp/service-centre-agent/get-next-claim-1">' + item.name + '</a>' },
          { text: item.nino },
          { text: item.submissionDate },
          { html: '<span class="tag tag--'+ item.tagClass +'">' + item.statusNew + '</span>' }
        ]) %}
        {% set foundItems = foundItems + 1 %}
      {% endif %}
    {% endif %}
  {% endfor %}

  {{ govukTable({
    caption: "All claims for Preston service centre 100510",
    captionClasses: "govuk-visually-hidden",
    head: [{
        text: "Claimant"
      }, {
        html: "NINO"
      }, {
        html: "IDOC <a href='/design-ideas/1313-case-load-management-mvp/service-centre-agent/all-claims-agent'> <img src='/public/images/arrow-up.svg' alt='up arrow' />"
      }, {
        html: "Claim status <a href='/design-ideas/1313-case-load-management-mvp/service-centre-agent/all-claims-agent-filter-status'> <img src='/public/images/arrow-down.svg' alt='down arrow' />"
      }
    ],
    rows: rows
  }) }}

{% endblock %}
