{% extends "layout/base-no-search-bar.html" %}

{% block pageTitle %}
  {{ serviceName }}
{% endblock %}

{% block beforeContent %}{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl govuk-!-margin-top-9">
      <span class="govuk-caption-l">Automation alpha</span>
      Automation exception handling prototype
    </h1>

    <ol class="govuk-list govuk-list--number">
      <li><a href="/future-team/ur2/1-prior-employment?claimStatus=MBR received">Previous employment overlap with IDOC</a></li>
      <li><a href="../future-team/ur2/2-nic-pension?claimStatus==MBR received">Check NIC + pension</a></li>
      <li><a href="../future-team/ur2/3-working-abroad?claimStatus=MBR received">Check working abroad</a></li>
      <li><a href="../future-team/ur2/4-current-work?claimStatus=MBR received">Check current work</a></li>
      <li><a href="../future-team/ur2/5-backdating?claimStatus=Push failed">Check Backdating </a></li>
      <li><a href="../future-team/ur2/6-esa?claimStatus=Push failed">Push failed - ESA claim</a></li>
      </ul>

  </div>
</div>

{% endblock %}