{% extends "layout/base-no-search-bar-user-1.html" %}

{% block pageTitle %}
Claim brought forward
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}
<div class="govuk-main-wrapper">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds govuk-!-margin-top-4">

      <div class="govuk-panel govuk-panel--confirmation">
        <h1 class="govuk-panel__title">
          Claim status updated
        </h1>
        <div class="govuk-panel__body govuk-!-font-size-24">
          The claim was updated to <strong>{{ data['claimStatus'] | replace("-", " ") | capitalize }}</strong>
        </div>
      </div>

      <p><a href="/design-ideas/1313-case-load-management/v2/processor/" class="govuk-link">View my claims</a></p>

    </div>
    </div>
  </div>
</div>

{% endblock %}