{% extends "layout/summary.html" %}

{% block pageTitle %}
  Select a status
{% endblock %}

{% block header %}
  {{ dwpHeader({
    "homepageUrl": "/",
    "serviceName": serviceName,
    "serviceUrl": "/",
    "containerClasses": "govuk-width-container",
    "searchBar": false
  }) }}
  {% include "./key-details.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
          
      <h1 class="govuk-heading-l govuk-!-margin-top-6">
        Update claim status
      </h1>

      <form action="claim-status" method="post">

        <div class="govuk-form-group">

            <fieldset class="govuk-fieldset">

                {{ govukRadios({
                    idPrefix: 'status',
                    name: 'claimStatus',
                    items: [
                        {
                            value: "id-verified",
                            text: "ID verified",
                            hint: {
                              text: "Bio check complete, the claim will be pushed to JSAPS."
                            }
                        },
                        {
                            value: "fraudulent",
                            text: "Fraudulent claim",
                            hint: {
                              text: "Close the claim"
                            }
                        }                     
                    ]
                })
                }}
            </fieldset>

        </div>

        {{ govukButton({
            text: "Confirm"
        }) }}

      </form>
    </div>
  </div>

{% endblock %}
