{% extends "layout/base-no-search-bar-user-1.html" %}

{% block pageTitle %} All claims – 
{{ serviceName }}: DWP Agent – Service centre
{% endblock %}

{% block content %}

  {% set items = claimListData %}
  
  {# Only display the unviewed claims total #}
  {% set unviewedClaimsTotal = 0 %}
  {% for item in items %}
    {% set unviewedClaimsTotal = unviewedClaimsTotal + 1 if not(item.viewed) else unviewedClaimsTotal %}
  {% endfor %}

  <div class="govuk-!-margin-top-6">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-half">
        <span class="govuk-caption-m">Service centre</span>
        <h1 class="govuk-heading-l">Preston 100510</h1>
      </div>
      <div class="govuk-grid-column-one-half govuk-align-right-from-desktop">
        {% set time = now() %}
        <div class="govuk-body-m govuk-!-margin-top-4">Total claims {{ time | momentFormat2 }}: <strong class="govuk-!-font-size-24">{{ unviewedClaimsTotal }}</strong></div>
      </div>
    </div>
  </div>

  {{ dwpSecondaryNavigation({
    items: [{
      label: "All (100)",
      url: "/design-ideas/1313-case-load-management-mvp/service-centre-manager/all-claims-manager",
      active: true
    }, {
      label: "Brought forward (5)",
      url: "/design-ideas/1313-case-load-management-mvp/service-centre-manager/all-claims-manager-bf"
    }, {
      label: "Outstanding (7) ",
      url: "/design-ideas/1313-case-load-management-mvp/service-centre-manager/all-claims-manager-outstanding"
    }, {
      label: "Refer to DM (13) ",
      url: "/design-ideas/1313-case-load-management-mvp/service-centre-manager/all-claims-manager-refer-to-dm"
    }, {
      label: "Transfer to clerical (27) ",
      url: "/design-ideas/1313-case-load-management-mvp/service-centre-manager/all-claims-manager-ttc"
    }, {
      label: "New (3) ",
      url: "/design-ideas/1313-case-load-management-mvp/service-centre-manager/all-claims-manager-new"
    }]
  }) }}

   {% set myClaimsItems = [
    {
      name: "Inga Beard",
      nino: "CW 70 78 14 A",
      submissionDate: "03/11/2018",
      pushedDate: "19/11/2018",
      status: "Failed push",
      statusNew: "Brought forward",
      tagClass: "forward",
      viewed: false,
      agent: "Andrew Server"    },
    {
      name: "Urielle Calhoun",
      nino: "VW 47 60 29 X",
      submissionDate: "05/11/2018",
      pushedDate: "19/11/2018",
      status: "Pushed",
      statusNew: "Brought forward",
      tagClass: "forward",
      viewed: false,
      agent: "Bart Blokk"    },
    {
      name: "Serina Levine",
      nino: "PW 14 97 00 T",
      submissionDate: "01/11/2018",
      pushedDate: "14/11/2018",
      status: "Clerical",
      statusNew: "Brought forward",
      tagClass: "forward",
      viewed: false,
      agent: "Bart Blokk"    },
    {
      name: "Dominic Warner",
      nino: "PO 17 09 07 M",
      submissionDate: "06/11/2018",
      pushedDate: "16/11/2018",
      status: "Failed push",
      statusNew: "Brought forward",
      tagClass: "forward",
      viewed: false,
      agent: "Gareth Thomas"    },
    {
      name: "Janna England",
      nino: "GC 45 88 19 J",
      submissionDate: "05/11/2018",
      pushedDate: "17/11/2018",
      status: "Failed push",
      statusNew: "Brought forward",
      tagClass: "forward",
      viewed: false,
      agent: "Ted Hughes"    },
    {
      name: "Akeem Lang",
      nino: "NP 18 49 56 I",
      submissionDate: "05/11/2018",
      pushedDate: "20/11/2018",
      status: "Clerical",
      statusNew: "Brought forward",
      tagClass: "forward",
      viewed: false,
      agent: "Jane MacDonald"    },
    {
      name: "Desirae Mckay",
      nino: "ZM 20 34 37 I",
      submissionDate: "06/11/2018",
      pushedDate: "18/11/2018",
      status: "Pushed",
      statusNew: "Brought forward",
      tagClass: "forward",
      viewed: false,
      agent: "Femi Johns"    },
    {
      name: "Fiona Garrett",
      nino: "OQ 99 99 23 N",
      submissionDate: "07/11/2018",
      pushedDate: "18/11/2018",
      status: "Pushed",
      statusNew: "Brought forward",
      tagClass: "forward",
      viewed: false,
      agent: "Wesley Snipes"    },
    {
      name: "Ruby Kelly",
      nino: "BQ 89 68 79 B",
      submissionDate: "01/11/2018",
      pushedDate: "14/11/2018",
      status: "Clerical",
      statusNew: "Brought forward",
      tagClass: "forward",
      viewed: false,
      agent: "Bart Blokk"    },
    {
      name: "Hannah Sosa",
      nino: "EE 66 46 47 C",
      submissionDate: "06/11/2018",
      pushedDate: "18/11/2018",
      status: "Clerical",
      statusNew: "Brought forward",
      tagClass: "forward",
      viewed: false,
      agent: "Andrew Server"    },
    {
      name: "Fallon Palmer",
      nino: "NG 56 43 44 Y",
      submissionDate: "04/11/2018",
      pushedDate: "14/11/2018",
      status: "Pushed",
      statusNew: "Claim outstanding",
      tagClass: "outstanding",
      viewed: false,
      agent: "Ted Hughes"    },
    {
      name: "Galena Collier",
      nino: "GK 12 19 88 Y",
      submissionDate: "08/11/2018",
      pushedDate: "18/11/2018",
      status: "Clerical",
      statusNew: "Claim outstanding",
      tagClass: "outstanding",
      viewed: false,
      agent: "Jane MacDonald"    },   
    {
      name: "Laurel Valencia",
      nino: "ZJ 14 79 56 M",
      submissionDate: "04/11/2018",
      pushedDate: "19/11/2018",
      status: "Pushed",
      statusNew: "Claim outstanding",
      tagClass: "outstanding",
      viewed: false,
      agent: "Nadia Khomani"    },    
    {
      name: "Reese Hanson",
      nino: "JW 04 59 89 H",
      submissionDate: "06/11/2018",
      pushedDate: "20/11/2018",
      status: "Clerical",
      statusNew: "Claim outstanding",
      tagClass: "outstanding",
      viewed: false,
      agent: "Sylvia Plath"    },
    {
      name: "Gwendolyn Hayden",
      nino: "MW 85 94 93 R",
      submissionDate: "01/11/2018",
      pushedDate: "14/11/2018",
      status: "Failed push",
      statusNew: "Claim outstanding",
      tagClass: "outstanding",
      viewed: false,
      agent: "Sylvia Plath"    },
  {
      name: "Hayes Curry",
      nino: "KL 63 37 28 G",
      submissionDate: "08/11/2018",
      pushedDate: "15/11/2018",
      status: "Failed push",
      statusNew: "Claim outstanding",
      tagClass: "outstanding",
      viewed: false,
      agent: "Olivia Normal"    },  
    {
      name: "Iola Figueroa",
      nino: "GG 56 93 38 I",
      submissionDate: "07/11/2018",
      pushedDate: "20/11/2018",
      status: "Pushed",
      statusNew: "New claim",
      tagClass: "new",
      viewed: false,
      agent: "Andrew Server"    },   
    {
      name: "Kai Barber",
      nino: "IR 74 09 74 T",
      submissionDate: "02/11/2018",
      pushedDate: "15/11/2018",
      status: "Clerical",
      statusNew: "Referred to DM",
      tagClass: "referred",
      viewed: false,
      agent: "Miguel Indurain"    },    
    {
      name: "Rebekah Murray",
      nino: "JF 96 34 64 H",
      submissionDate: "07/11/2018",
      pushedDate: "15/11/2018",
      status: "Pushed",
      statusNew: "Referred to DM",
      tagClass: "referred",
      viewed: false,
      agent: "Bart Blokk"    },    
    {
      name: "Hop Meyers",
      nino: "XB 22 35 67 G",
      submissionDate: "09/11/2018",
      pushedDate: "17/11/2018",
      status: "Clerical",
      statusNew: "Referred to DM",
      tagClass: "referred",
      viewed: false,
      agent: "Gareth Thomas"    },    
    {
      name: "Amethyst Parker",
      nino: "PR 32 10 02 V",
      submissionDate: "01/11/2018",
      pushedDate: "17/11/2018",
      status: "Failed push",
      statusNew: "Referred to DM",
      tagClass: "referred",
      viewed: false,
      agent: "Sylvia Plath"    },    
    {
      name: "Zelda Holman",
      nino: "HJ 93 62 66 E",
      submissionDate: "09/11/2018",
      pushedDate: "20/11/2018",
      status: "Failed push",
      statusNew: "Referred to DM",
      tagClass: "referred",
      viewed: false,
      agent: "John Hardcastle"    },    
    {
      name: "Evelyn Mann",
      nino: "YS 65 15 52 E",
      submissionDate: "06/11/2018",
      pushedDate: "14/11/2018",
      status: "Clerical",
      statusNew: "Referred to DM",
      tagClass: "referred",
      viewed: false,
      agent: "Nadia Khomani"    },    
    {
      name: "Inez Hayes",
      nino: "ZN 36 10 94 A",
      submissionDate: "09/11/2018",
      pushedDate: "16/11/2018",
      status: "Failed push",
      statusNew: "Referred to DM",
      tagClass: "referred",
      viewed: false,
      agent: "Sylvia Plath"    },    
    {
      name: "Carlos Cooper",
      nino: "VD 78 06 22 H",
      submissionDate: "05/11/2018",
      pushedDate: "18/11/2018",
      status: "Clerical",
      statusNew: "Referred to DM",
      tagClass: "referred",
      viewed: false,
      agent: "Sylvia Plath"    },    
    {
      name: "Flavia Bond",
      nino: "OO 39 84 51 D",
      submissionDate: "02/11/2018",
      pushedDate: "16/11/2018",
      status: "Pushed",
      statusNew: "Referred to DM",
      tagClass: "referred",
      viewed: false,
      agent: "John Hardcastle"    },    
    {
      name: "Juliet James",
      nino: "MB 92 41 87 U",
      submissionDate: "01/11/2018",
      pushedDate: "20/11/2018",
      status: "Failed push",
      statusNew: "Referred to DM",
      tagClass: "referred",
      viewed: false,
      agent: "Ted Hughes"    },    
    {
      name: "Connor Hernandez",
      nino: "VR 41 06 76 U",
      submissionDate: "01/11/2018",
      pushedDate: "17/11/2018",
      status: "Failed push",
      statusNew: "Referred to DM",
      tagClass: "referred",
      viewed: false,
      agent: "Ted Hughes"    },     
    {
      name: "Hamilton Whitley",
      nino: "VS 57 10 06 T",
      submissionDate: "09/11/2018",
      pushedDate: "19/11/2018",
      status: "Failed push",
      statusNew: "Referred to DM",
      tagClass: "referred",
      viewed: false,
      agent: "Neil Simons"    },    
    {
      name: "Brynn Morse",
      nino: "XT 57 73 06 S",
      submissionDate: "03/11/2018",
      pushedDate: "20/11/2018",
      status: "Failed push",
      statusNew: "Referred to DM",
      tagClass: "referred",
      viewed: false,
      agent: "Femi Johns"    },
    {
      name: "Raphael Rodriguez",
      nino: "EY 45 10 59 Z",
      submissionDate: "01/11/2018",
      pushedDate: "20/11/2018",
      status: "Clerical",
      statusNew: "Referred to DM",
      tagClass: "referred",
      viewed: false,
      agent: "John Hardcastle"    },    
    {
      name: "Illiana Love",
      nino: "JU 63 06 57 K",
      submissionDate: "06/11/2018",
      pushedDate: "20/11/2018",
      status: "Clerical",
      statusNew: "Referred to DM",
      tagClass: "referred",
      viewed: false,
      agent: "Ted Hughes"    },    
    {
      name: "Julie Rhodes",
      nino: "QR 54 11 48 J",
      submissionDate: "05/11/2018",
      pushedDate: "14/11/2018",
      status: "Clerical",
      statusNew: "Transferred to clerical",
      tagClass: "success",
      viewed: false,
      agent: "John Hardcastle"    },
    {
      name: "Megan Ferguson",
      nino: "QS 90 43 03 N",
      submissionDate: "06/11/2018",
      pushedDate: "14/11/2018",
      status: "Failed push",
      statusNew: "Transferred to clerical",
      tagClass: "success",
      viewed: false,
      agent: "John Hardcastle"    },
    {
      name: "Xena Tucker",
      nino: "BQ 07 00 57 T",
      submissionDate: "07/11/2018",
      pushedDate: "20/11/2018",
      status: "Clerical",
      statusNew: "Transferred to clerical",
      tagClass: "success",
      viewed: false,
      agent: "Ted Hughes"  }, 
    {
      name: "Reece Emerson",
      nino: "GD 66 84 29 U",
      submissionDate: "07/11/2018",
      pushedDate: "18/11/2018",
      status: "Pushed",
      statusNew: "Transferred to clerical",
      tagClass: "success",
      viewed: false,
      agent: "Miguel Indurain"    },
    {
      name: "Karleigh Dunn",
      nino: "KJ 38 63 02 J",
      submissionDate: "07/11/2018",
      pushedDate: "19/11/2018",
      status: "Pushed",
      statusNew: "Transferred to clerical",
      tagClass: "success",
      viewed: false,
      agent: "Miguel Indurain"    },
    {
      name: "Cullen Valentine",
      nino: "OW 80 31 41 R",
      submissionDate: "02/11/2018",
      pushedDate: "19/11/2018",
      status: "Clerical",
      statusNew: "Transferred to clerical",
      tagClass: "success",
      viewed: false,
      agent: "Femi Johns"    },
    {
      name: "Nichole Wynn",
      nino: "YU 52 09 74 O",
      submissionDate: "02/11/2018",
      pushedDate: "18/11/2018",
      status: "Failed push",
      statusNew: "Transferred to clerical",
      tagClass: "success",
      viewed: false,
      agent: "Femi Johns"    },
    {
      name: "Haley Lowe",
      nino: "EK 19 15 02 Y",
      submissionDate: "02/11/2018",
      pushedDate: "15/11/2018",
      status: "Clerical",
      statusNew: "Transferred to clerical",
      tagClass: "success",
      viewed: false,
      agent: "Nadia Khomani"    },
    {
      name: "Mallory Guzman",
      nino: "TV 11 90 27 Z",
      submissionDate: "02/11/2018",
      pushedDate: "16/11/2018",
      status: "Failed push",
      statusNew: "Transferred to clerical",
      tagClass: "success",
      viewed: false,
      agent: "Jane MacDonald"    }, 
    {
      name: "Mufutau Chen",
      nino: "WI 93 58 95 U",
      submissionDate: "07/11/2018",
      pushedDate: "16/11/2018",
      status: "Pushed",
      statusNew: "Transferred to clerical",
      tagClass: "success",
      viewed: false,
      agent: "Olivia Normal"    },
    {
      name: "Eaton Parsons",
      nino: "YW 17 15 68 Z",
      submissionDate: "08/11/2018",
      pushedDate: "19/11/2018",
      status: "Failed push",
      statusNew: "Transferred to clerical",
      tagClass: "success",
      viewed: false,
      agent: "Olivia Normal"    },
    {
      name: "Celeste Chaney",
      nino: "FG 53 63 97 M",
      submissionDate: "06/11/2018",
      pushedDate: "20/11/2018",
      status: "Failed push",
      statusNew: "Transferred to clerical",
      tagClass: "success",
      viewed: false,
      agent: "Olivia Normal"    },
    {
      name: "Echo Browning",
      nino: "QD 82 96 61 K",
      submissionDate: "06/11/2018",
      pushedDate: "19/11/2018",
      status: "Failed push",
      statusNew: "Transferred to clerical",
      tagClass: "success",
      viewed: false,
      agent: "Sylvia Plath"    },
    {
      name: "Charde Howard",
      nino: "NX 25 13 60 Q",
      submissionDate: "05/11/2018",
      pushedDate: "15/11/2018",
      status: "Clerical",
      statusNew: "Transferred to clerical",
      tagClass: "success",
      viewed: false,
      agent: "Andrew Server"    },
    {
      name: "Yael Solis",
      nino: "OE 52 18 99 H",
      submissionDate: "09/11/2018",
      pushedDate: "14/11/2018",
      status: "Failed push",
      statusNew: "Transferred to clerical",
      tagClass: "success",
      viewed: false,
      agent: "Andrew Server"    },
      {
      name: "Quinn Casey",
      nino: "WK 88 14 78 N",
      submissionDate: "09/11/2018",
      pushedDate: "17/11/2018",
      status: "Pushed",
      statusNew: "Transferred to clerical",
      tagClass: "success",
      viewed: false,
      agent: "Neil Simons"    },
    {
      name: "Maryam Stevenson",
      nino: "QF 61 42 81 S",
      submissionDate: "02/11/2018",
      pushedDate: "20/11/2018",
      status: "Pushed",
      statusNew: "Transferred to clerical",
      tagClass: "success",
      viewed: false,
      agent: "Neil Simons"    },
    {
      name: "Ross Everett",
      nino: "VE 68 72 63 B",
      submissionDate: "04/11/2018",
      pushedDate: "20/11/2018",
      status: "Pushed",
      statusNew: "Transferred to clerical",
      tagClass: "success",
      viewed: false,
      agent: "Gareth Thomas"    }
]
%}

  <div class="govuk-!-margin-top-6">
  {% set rows = [] %}
  {% set foundItems = 0 %}
  {% for item in myClaimsItems %}
    {% if not(item.viewed) %}
      {% if foundItems < CLAIMS_PER_PAGE %}
        {% set rows = rows | push([
          { html: '<a href="/design-ideas/1313-case-load-management-mvp/service-centre-manager/get-next-claim-2">' + item.name + '</a>' },
          { text: item.nino },
          { text: item.submissionDate },
          { html: '<a href="/design-ideas/1313-case-load-management-mvp/service-centre-manager/all-claims-agent">' +  item.agent + '</a>' },
          { html: '<span class="tag tag--'+ item.tagClass +'">' + item.statusNew + '</span>' }
        ]) %}
        {% set foundItems = foundItems + 1 %}
      {% endif %}
    {% endif %}
  {% endfor %}

  {{ govukTable({
    caption: "All claims for Preston service centre 100510",
    captionClasses: "govuk-visually-hidden",
    head: [{
        text: "Claimant"
      }, {
        text: "NINO"
      }, {
        html: "IDOC <img src='/public/images/arrow-down.svg' alt='down arrow' />"
      }, {
        html: "Agent <a href='/design-ideas/1313-case-load-management-mvp/service-centre-manager/all-claims-manager-filter-agent'> <img src='/public/images/arrow-down.svg' alt='down arrow' />"
      }, {
        html: "Claim status <a href='/design-ideas/1313-case-load-management-mvp/service-centre-manager/all-claims-manager'> <img src='/public/images/arrow-up.svg' alt='up arrow' />"
      }
    ],
    rows: rows
  }) }}

{% endblock %}
