{% extends "layout/base-no-search-bar-user-1.html" %}

{% block pageTitle %} All claims – 
{{ serviceName }}: DWP Agent – Service centre
{% endblock %}

{% block content %}

  {% set items = claimListData %}
  
  {# Only display the unviewed claims total #}
  {% set unviewedClaimsTotal = 0 %}
  {% for item in items %}
    {% set unviewedClaimsTotal = unviewedClaimsTotal + 1 if not(item.viewed) else unviewedClaimsTotal %}
  {% endfor %}

  <div class="govuk-!-margin-top-6">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-half">
        <span class="govuk-caption-m">Service centre</span>
        <h1 class="govuk-heading-l">Preston 100510</h1>
      </div>
      <div class="govuk-grid-column-one-half govuk-align-right-from-desktop">
        {% set time = now() %}
        <div class="govuk-body-m govuk-!-margin-top-4">Total claims {{ time | momentFormat2 }}: <strong class="govuk-!-font-size-24">{{ unviewedClaimsTotal }}</strong></div>
      </div>
    </div>
  </div>

  {{ dwpSecondaryNavigation({
    items: [{
      label: "All (100)",
      url: "/design-ideas/1313-case-load-management-mvp/service-centre-manager/all-claims-manager"
    }, {
      label: "Brought forward (5)",
      url: "/design-ideas/1313-case-load-management-mvp/service-centre-manager/all-claims-manager-bf"
    }, {
      label: "Outstanding (7) ",
      url: "/design-ideas/1313-case-load-management-mvp/service-centre-manager/all-claims-manager-outstanding"
    }, {
      label: "Refer to DM (13) ",
      url: "/design-ideas/1313-case-load-management-mvp/service-centre-manager/all-claims-manager-refer-to-dm"
    }, {
      label: "Transfer to clerical (27) ",
      url: "/design-ideas/1313-case-load-management-mvp/service-centre-manager/all-claims-manager-ttc",
      active: true
    }, {
      label: "New (3) ",
      url: "/design-ideas/1313-case-load-management-mvp/service-centre-manager/all-claims-manager-new"
    }]
  }) }}

{% set transferredToClericalItems = [
  { 
    name: "Kai Barber",
      nino: "NG 56 43 44 Y",
      submissionDate: "07/11/2018",
      pushedDate: "20/11/2018",
      status: "Clerical",
      statusNew: "Transferred to clerical",
      tagClass: "success",
      viewed: false,
      agent: "Ted Hughes"
  },
  { 
   name: "Galena Collier",
      nino: "GK 12 19 88 Y",
      submissionDate: "07/11/2018",
      pushedDate: "20/11/2018",
      status: "Clerical",
      statusNew: "Transferred to clerical",
      tagClass: "success",
      viewed: false,
      agent: "Jane MacDonald"
  },
  { 
    name: "Laurel Valencia",
      nino: "	ZJ 14 79 56 M",
      submissionDate: "07/11/2018",
      pushedDate: "20/11/2018",
      status: "Clerical",
      statusNew: "Transferred to clerical",
      tagClass: "success",
      viewed: false,
      agent: "Nadia Khomani"
  },
  {
      name: "Reese Hanson",
      nino: "	JW 04 59 89 H",
      submissionDate: "07/11/2018",
      pushedDate: "20/11/2018",
      status: "Clerical",
      statusNew: "Transferred to clerical",
      tagClass: "success",
      viewed: false,
      agent: "Sylvia Plath"
  },
  {
      name: "Gwendolyn Hayden",
      nino: "GC 45 88 19 J",
      submissionDate: "07/11/2018",
      pushedDate: "20/11/2018",
      status: "Clerical",
      statusNew: "Transferred to clerical",
      tagClass: "success",
      viewed: false,
      agent: "Sylvia Plath"
  },
  {
      name: "Al Kruchner",
      nino: "WM 12 34 56 C",
      submissionDate: "07/11/2018",
      pushedDate: "20/11/2018",
      status: "Clerical",
      statusNew: "Transferred to clerical",
      tagClass: "success",
      viewed: false,
      agent: "Ted Hughes"
  },
  {
      name: "Dave Wales",
      nino: "GC 45 88 19 J",
      submissionDate: "07/11/2018",
      pushedDate: "20/11/2018",
      status: "Clerical",
      statusNew: "Transferred to clerical",
      tagClass: "success",
      viewed: false,
      agent: "John Hardcastle"
  },
  { 
   name: "Galena Collier",
      nino: "GK 12 19 88 Y",
      submissionDate: "07/11/2018",
      pushedDate: "20/11/2018",
      status: "Clerical",
      statusNew: "Transferred to clerical",
      tagClass: "success",
      viewed: false,
      agent: "Jane MacDonald"
  },
  { 
    name: "Laurel Valencia",
      nino: "	ZJ 14 79 56 M",
      submissionDate: "07/11/2018",
      pushedDate: "20/11/2018",
      status: "Clerical",
      statusNew: "Transferred to clerical",
      tagClass: "success",
      viewed: false,
      agent: "Nadia Khomani"
  },
  {
      name: "Reese Hanson",
      nino: "	JW 04 59 89 H",
      submissionDate: "07/11/2018",
      pushedDate: "20/11/2018",
      status: "Clerical",
      statusNew: "Transferred to clerical",
      tagClass: "success",
      viewed: false,
      agent: "Sylvia Plath"
  },
  {
      name: "Gwendolyn Hayden",
      nino: "GC 45 88 19 J",
      submissionDate: "07/11/2018",
      pushedDate: "20/11/2018",
      status: "Clerical",
      statusNew: "Transferred to clerical",
      tagClass: "success",
      viewed: false,
      agent: "Sylvia Plath"
  },
  {
      name: "Al Kruchner",
      nino: "WM 12 34 56 C",
      submissionDate: "07/11/2018",
      pushedDate: "20/11/2018",
      status: "Clerical",
      statusNew: "Transferred to clerical",
      tagClass: "success",
      viewed: false,
      agent: "Ted Hughes"
  },
  {
      name: "Dave Wales",
      nino: "GC 45 88 19 J",
      submissionDate: "07/11/2018",
      pushedDate: "20/11/2018",
      status: "Clerical",
      statusNew: "Transferred to clerical",
      tagClass: "success",
      viewed: false,
      agent: "John Hardcastle"
  }, 
  { 
    name: "Kai Barber",
      nino: "NG 56 43 44 Y",
      submissionDate: "07/11/2018",
      pushedDate: "20/11/2018",
      status: "Clerical",
      statusNew: "Transferred to clerical",
      tagClass: "success",
      viewed: false,
      agent: "Ted Hughes"
  },
  { 
   name: "Galena Collier",
      nino: "GK 12 19 88 Y",
      submissionDate: "07/11/2018",
      pushedDate: "20/11/2018",
      status: "Clerical",
      statusNew: "Transferred to clerical",
      tagClass: "success",
      viewed: false,
      agent: "Jane MacDonald"
  },
  { 
    name: "Laurel Valencia",
      nino: "	ZJ 14 79 56 M",
      submissionDate: "07/11/2018",
      pushedDate: "20/11/2018",
      status: "Clerical",
      statusNew: "Transferred to clerical",
      tagClass: "success",
      viewed: false,
      agent: "Nadia Khomani"
  },
  {
      name: "Reese Hanson",
      nino: "	JW 04 59 89 H",
      submissionDate: "07/11/2018",
      pushedDate: "20/11/2018",
      status: "Clerical",
      statusNew: "Transferred to clerical",
      tagClass: "success",
      viewed: false,
      agent: "Sylvia Plath"
  },
  {
      name: "Gwendolyn Hayden",
      nino: "GC 45 88 19 J",
      submissionDate: "07/11/2018",
      pushedDate: "20/11/2018",
      status: "Clerical",
      statusNew: "Transferred to clerical",
      tagClass: "success",
      viewed: false,
      agent: "Sylvia Plath"
  },
  {
      name: "Al Kruchner",
      nino: "WM 12 34 56 C",
      submissionDate: "07/11/2018",
      pushedDate: "20/11/2018",
      status: "Clerical",
      statusNew: "Transferred to clerical",
      tagClass: "success",
      viewed: false,
      agent: "Ted Hughes"
  },
  {
      name: "Dave Wales",
      nino: "GC 45 88 19 J",
      submissionDate: "07/11/2018",
      pushedDate: "20/11/2018",
      status: "Clerical",
      statusNew: "Transferred to clerical",
      tagClass: "success",
      viewed: false,
      agent: "John Hardcastle"
  },
  { 
   name: "Galena Collier",
      nino: "GK 12 19 88 Y",
      submissionDate: "07/11/2018",
      pushedDate: "20/11/2018",
      status: "Clerical",
      statusNew: "Transferred to clerical",
      tagClass: "success",
      viewed: false,
      agent: "Jane MacDonald"
  },
  { 
    name: "Laurel Valencia",
      nino: "	ZJ 14 79 56 M",
      submissionDate: "07/11/2018",
      pushedDate: "20/11/2018",
      status: "Clerical",
      statusNew: "Transferred to clerical",
      tagClass: "success",
      viewed: false,
      agent: "Nadia Khomani"
  },
  {
      name: "Reese Hanson",
      nino: "	JW 04 59 89 H",
      submissionDate: "07/11/2018",
      pushedDate: "20/11/2018",
      status: "Clerical",
      statusNew: "Transferred to clerical",
      tagClass: "success",
      viewed: false,
      agent: "Sylvia Plath"
  },
  {
      name: "Gwendolyn Hayden",
      nino: "GC 45 88 19 J",
      submissionDate: "07/11/2018",
      pushedDate: "20/11/2018",
      status: "Clerical",
      statusNew: "Transferred to clerical",
      tagClass: "success",
      viewed: false,
      agent: "Sylvia Plath"
  },
  {
      name: "Al Kruchner",
      nino: "WM 12 34 56 C",
      submissionDate: "07/11/2018",
      pushedDate: "20/11/2018",
      status: "Clerical",
      statusNew: "Transferred to clerical",
      tagClass: "success",
      viewed: false,
      agent: "Ted Hughes"
  },
  {
      name: "Dave Wales",
      nino: "GC 45 88 19 J",
      submissionDate: "07/11/2018",
      pushedDate: "20/11/2018",
      status: "Clerical",
      statusNew: "Transferred to clerical",
      tagClass: "success",
      viewed: false,
      agent: "John Hardcastle"
  }
]
%}

  <div class="govuk-!-margin-top-6">
  {% set rows = [] %}
  {% set foundItems = 0 %}
  {% for item in transferredToClericalItems %}
    {% if not(item.viewed) %}
      {% if foundItems < CLAIMS_PER_PAGE %}
        {% set rows = rows | push([
          { html: '<a href="/design-ideas/1313-case-load-management-mvp/service-centre-manager/get-next-claim-2">' + item.name + '</a>' },
          { text: item.nino },
          { text: item.submissionDate },
          { html: '<a href="/design-ideas/1313-case-load-management-mvp/service-centre-manager/all-claims-agent">' +  item.agent + '</a>' },
          { html: '<span class="tag tag--'+ item.tagClass +'">' + item.statusNew + '</span>' }
        ]) %}
        {% set foundItems = foundItems + 1 %}
      {% endif %}
    {% endif %}
  {% endfor %}

  {{ govukTable({
    caption: "All claims for Preston service centre 100510",
    captionClasses: "govuk-visually-hidden",
    head: [{
        text: "Claimant"
      }, {
        text: "NINO"
      }, {
        html: "IDOC <img src='/public/images/arrow-down.svg' alt='down arrow' />"
      }, {
        html: "Agent <img src='/public/images/arrow-down.svg' alt='down arrow' />"
      }, {
        html: "Claim status <img src='/public/images/arrow-down.svg' alt='down arrow' />"
      }
    ],
    rows: rows
  }) }}
  

{% endblock %}
