$bar-background-colour: rgba(govuk-colour('blue'), .4);
$bar-border-colour: rgba(govuk-colour('blue'), .8);
$bar-chart-height: 80px;

.bar-chart {
  position: relative;
  height: $bar-chart-height;
  padding-bottom: 20px;
  margin-bottom: 20px;

  .bar-chart__markers {
    @extend .govuk-body-s;
    margin: 0;
    position: absolute;
    width: 50px;
    left: -10px;
    top: 0;
    height: $bar-chart-height;

    &::before {
      display: block;
      position: absolute;
      width: 100%;
      height: 10px;
      content: '';
      background: govuk-colour('white');
      bottom: -5px;
      left: 5px;
    }

    .bar-chart__marker {
      position: absolute;
      width: 100%;
      text-align: right;

      &:nth-child(1) {
        top: -15%;
      }

      &:nth-child(2) {
        top: 38%;
      }

      &:nth-child(3) {
        bottom: -15%;
      }
    }
  }

  .bar-chart__bars {
    @extend .govuk-list;
    @include govuk-clearfix;
    display: inline-block;
    height: 100%;
    width: 100%;
    border-bottom: 1px solid govuk-colour('grey-3');
  }

  .bar {
    display: inline-block;
    position: relative;
    margin-bottom: 0;
    width: 90px;
    height: 100%;
    float: left;

    &:first-child {
      margin-left: 56px;
    }

    &:not(:last-child) {
      margin-right: govuk-spacing(4);
    }

    .bar__value,
    .bar__label {
      display: inline-block;
      position: absolute;
      text-align: center;
      width: 100%;
    }

    .bar__label {
      @extend .govuk-body-s;
      position: absolute;
      margin-top: govuk-spacing(2);
      top: 100%;
    }

    .bar__value {
      @extend .govuk-body-s;
      color: govuk-colour('blue');
      margin-top: -3ex;
    }

    .bar__bottom {
      box-sizing: border-box;
      position: relative;
      background-color: $bar-background-colour;
      border-top: 3px solid $bar-border-colour;
    }
  }
}

@media screen and (max-width: 960px) {
  .bar-chart {
    .bar-chart__markers {
      display: none;
    }

    .bar {
      &:first-child {
        margin-left: 0;
      }
    }
  }

  .bar-chart--quarter {
    .bar {
      width: 24%;

      &:not(:last-child) {
        margin-right: 1%;
      }
    }
  }

  .bar-chart--half {
    .bar {
      width: 49%;

      &:not(:last-child) {
        margin-right: 2%;
      }
    }
  }
}
