/*------------------------------------*\
  Side navigation
\*------------------------------------*/

// Component styles

.side-nav {
    @include govuk-font(19);
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }
    &.open {
      height: auto;
    }
  }
  
  .side-nav a {
    
    color: govuk-colour("blue");

    &:focus,
    &.active a:focus {
        background-color: govuk-colour("yellow");
    }
  }
  
  .side-nav__items {
    max-height: 260px;
    overflow: auto;
  }

  .side-nav__item {
    a {
        display: block;
        text-decoration: none;
        overflow: hidden;
        padding: 15px;
        position: relative;
        border-left: 4px solid transparent;
      &:hover {
        text-decoration: underline;
      }
    }
    @include mq($from: desktop) {
      display: block;
      a {
        padding: 12px 20px 11px 30px;  
      }
    }
    .open & {
      display: block;
    }
    &.active {
      display: block;
      a {
        border-left-color: govuk-colour("blue");
        font-weight: bold;

        &:focus {
            background-color: govuk-colour("yellow");
            color: govuk-colour("black");
        }
        &:after {
          content: '';
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 7px 8px 7px 0;
          border-color: transparent #ffffff transparent transparent;
          position: absolute;
          right: 0; top: 50%;
          margin-top: -7px;
        }
      }
    }
  }
  