// Tag
@import 'node_modules/govuk-frontend/settings/all';
@import 'node_modules/govuk-frontend/tools/all';
@import 'node_modules/govuk-frontend/helpers/all';

.tag {
  display: inline-block;
  background-color: govuk-colour('blue');
  color: $govuk-body-background-colour;
  font-weight: 700;
  line-height: 1.1;
  font-size: 14px !important; // sass-lint:disable-line no-important
  padding: 4px 6px 2px !important; // sass-lint:disable-line no-important
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.tag--success {
  background-color: #f7d7e6;
  color: #80224d;
}

.tag--warning {
  background-color: #bfe3e0;
  color: #10403c;
}

.tag--danger {
  background-color: #dbd5e9;
  color: #3d2375;
}

.tag--invert {
  background-color: #f6d7d2;
  color: #942514;
}

.tag--new {
  background-color: #cce2d8;
  color: #005a30;
}

.tag--outstanding {
  background-color: #fff7bf;
  color: #594d00;
}

.tag--referred {
  background-color: #dbd5e9;
  color: #3d2375;
}

.tag--forward {
  background-color: #eeefef;
  color: #383f43;
}