{% extends "layout/base-no-search-bar-user-1.html" %}

{% block pageTitle %}
Claim cleared
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}
<div class="govuk-main-wrapper">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full govuk-!-margin-top-4">

      <div class="govuk-panel govuk-panel--confirmation">
        <h1 class="govuk-panel__title">
          Claim cleared
        </h1>
        <div class="govuk-panel__body govuk-!-font-size-24">
          Claim reference:&nbsp<strong>Mr Marvin Gordon QQ 12 34 56 D</strong><br>
        </div>
      </div>

          {{ govukButton({
            text: "Back to homepage",
            preventDoubleClick: true,
            href: "/design-ideas/1313-case-load-management/v1/service-centre-agent"
          }) }}



    </div>
    </div>
  </div>
</div>

{% endblock %}