{% extends "layout/base-no-search-bar.html" %}

{% block pageTitle %}
  {{ serviceName }}
{% endblock %}

{% block beforeContent %}{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l govuk-!-margin-top-9">
      <span class="govuk-caption-l">Automation alpha</span>
      Identity exception handling prototypes
    </h1>

    <ol class="govuk-list govuk-list--number">
      <li><a href="/future-team/idv/v1/?claimStatus=ID not verified">Ian Johnson</a> – address mismatch</li>
      <li><a href="/future-team/idv/v2/?claimStatus=ID not verified">Karan Bhopal</a> – suspect fraud</li>
      <li><a href="/future-team/idv/v3/?claimStatus=ID not verified">Petr Stankowski</a> – no mismatch, no fraud - IDV Skipped</li>
      <li><a href="/future-team/idv/v4/?claimStatus=brought forward">Rosalind Green</a> – date of birth mismatch - BF</li>
    </ol>

  </div>
</div>

{% endblock %}