{% extends "layout/base-no-search-bar.html" %}

{% block pageTitle %}
  {{ serviceName }}
{% endblock %}

{% block beforeContent %}{% endblock %}

{% block content %}

<div class="govuk-grid-row govuk-!-margin-top-5">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l govuk-!-margin-top-5">
      <span class="govuk-caption-l"><a href="https://jira.service.dwpcloud.uk/browse/BWADH-1313">Jira reference: 1313</a></span>
      Case management
    </h1>
    <p><a href="https://app.mural.co/t/universalcredit7056/m/universalcredit7056/1608712475470/e71b7be30572d3d47b25742abdba8480eac8d9ac">Mural board</a></p>

    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

    <h3 class="govuk-heading-m">
      <span class="govuk-caption-m">March to April 2021</span>
      V2 – Updated prototype for automation
    </h3>
    <p>Updated to reflect automation thinking, recent conversation with the team and user feedback.</p>
    <ul class="govuk-list govuk-list--bullet">
      <li><a href="1313-case-load-management/v2/processor/">View processor journey</a></li>
      <li><a href="1313-case-load-management/v2/allocator/">View allocator journey</a></li>
      <li><a href="1313-case-load-management/v2/manager/">View manager journey</a></li>
    </ul>

{% set rationaleHtml %}
  <p>Rationale to add:</p>
    <p>
manager
interested in mi, what is at what status, how long</p>

allocator
oldest claims sat with an agent - all be new claim
20 days old
past target - annoy the allocator

70 staff on JSA, 6 teams, 6000 claims a week

processor
show the ones they look after
thier cases up to them to look after them
order by oldest

new claim or brought forward
not something that has gone to another group
3 or more days transfer to clerical</p>
{% endset %}
    {{ govukDetails({
      summaryText: "Design rationale",
      html: rationaleHtml
    }) }}

  </div>
</div>

  <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

    <h3 class="govuk-heading-m">
      <span class="govuk-caption-m">January to March 2021</span>
      V1 – Initial ideas for case load selection and management for processing teams
    </h3>
    <p>Worked on by: Neil Holroyd</p>

    <p>Following on from work undertaken in 2018 these prototypes represent agreed MVP functionality as of November 2020. 
    This requirement is to explore producing a list of cases that have been pushed through to processing.</p>
    

    <div class="govuk-grid-row govuk-!-margin-top-5">
      <div class="govuk-grid-column-one-half">
        <h2 class="govuk-heading-m">Service centre agent</h2>
        <p>MVP prototype for service centre agents</p>
        <p><a href="1313-case-load-management/v1/service-centre-agent/agent-sign-on">View prototype</a></p>

        {{ govukDetails({
    summaryText: "Service centre agent shortcut links",
    html: '
      <div class="govuk-clearfix">
         <ul class="govuk-list govuk-list--bullet">
          <li><a href="1313-case-load-management/v1/service-centre-agent">Agent landing page</a></li>
          <li><a href="1313-case-load-management/v1/service-centre-agent/agent-sign-on">Initial agent sign on</a></li>
          <li><a href="1313-case-load-management/v1/service-centre-agent/nino-search">Find a claim</a></li>
          <li><a href="1313-case-load-management/v1/service-centre-agent/all-claims-agent">View my claims</a></li>
          <li><a href="1313-case-load-management/v1/service-centre-agent/get-next-claim-1">Get next claim</a></li>
          <li><a href="1313-case-load-management/v1/service-centre-agent/get-next-claim-2">Get next claim with notification</a></li>
          <li><a href="1313-case-load-management/v1/service-centre-agent/claim-status">Update claim status</a></li>
          <li><a href="1313-case-load-management/v1/service-centre-agent/claim-brought-forward">&ndash; Claim brought forward</a></li>
          <li><a href="1313-case-load-management/v1/service-centre-agent/claim-outstanding">&ndash; Claim outstanding</a></li>
          <li><a href="1313-case-load-management/v1/service-centre-agent/claim-referred-to-dm">&ndash; Claim referred to dm</a></li>
          <li><a href="1313-case-load-management/v1/service-centre-agent/claim-transfer-to-clerical">&ndash; Claim transferred to clerical</a></li>
          <li><a href="1313-case-load-management/v1/service-centre-agent/claim-cleared">&ndash; Claim cleared</a></li>
      </ul>
      </div>'
  }) }}

        <p>Other options</p>
        <ul class="govuk-list govuk-list--bullet">

          <li><a href="1313-case-load-management/v1/service-centre-agent/claim-cleared-button">Claim cleared with button link</a></li>
          <li><a href="1313-case-load-management/v1/service-centre-agent/claim-status-summary">Update claim status including summary</a></li>
          <li><a href="1313-case-load-management/v1/service-centre-agent/nav-get-next-claim">Secondary navigation route (3 pages)</a></li>
          <li><a href="1313-case-load-management/v1/service-centre-agent/get-next-claim-3">Get next claim with Welsh language notification</a></li>
          <li><a href="1313-case-load-management/v1/service-centre-agent/claim-status-options">Claim status options</a></li>
          <li><a href="1313-case-load-management/v1/service-centre-agent/all-claims-agent-option">Agent all claims extra option</a></li>
        </ul>
      </div>

      <div class="govuk-grid-column-one-half">
        <h2 class="govuk-heading-m">Service centre manager</h2>
        <p>MVP prototype for service centre managers</p>
        <p><a href="1313-case-load-management/v1/service-centre-manager/manager-sign-on">View prototype</a></p>

{{ govukDetails({
    summaryText: "Service centre manager shortcut links",
    html: '
      <div class="govuk-clearfix">
<ul class="govuk-list">
        <li><a href="1313-case-load-management/v1/service-centre-manager">Manager landing page</a></li>
        <li><a href="1313-case-load-management/v1/service-centre-manager/manager-sign-on">Initial manager sign on</a></li>
        <li><a href="1313-case-load-management/v1/service-centre-manager/all-claims-manager">View all claims</a></li>
        <li><a href="1313-case-load-management/v1/service-centre-manager/nino-search">Find a claim</a></li>
        <li><a href="1313-case-load-management/v1/service-centre-manager/get-next-claim-2">View claim</a></li>
        <li><a href="1313-case-load-management/v1/service-centre-manager/get-next-claim-3-notification">View claim with notification</a></li>
        <li><a href="1313-case-load-management/v1/service-centre-manager/select-agent">Allocate an agent</a></li>
        <li><a href="1313-case-load-management/v1/service-centre-manager/agents/agent-update-andrew">Example of agent notification</a></li>
        <li><a href="1313-case-load-management/v1/service-centre-manager/select-service-centre">Change service centre</a></li>
        <li><a href="1313-case-load-management/v1/service-centre-manager/centres/centre-update-leeds">Example of centre notification</a></li>
      </ul>
      </div>'
  }) }}

  <p>Other options</p>
        <ul class="govuk-list govuk-list--bullet">

          <li><a href="1313-case-load-management/v1/service-centre-manager/select-agent-option-1">Select a claim – option 1</a></li>
          <li><a href="1313-case-load-management/v1/service-centre-manager/select-agent-option-2">Select a claim – option 2</a></li>
          <li><a href="1313-case-load-management/v1/service-centre-manager/select-agent-option-3">Select a claim – option 3</a></li>
        </ul>
      </div>
      </div>

  {% endblock %}