{% extends "layout/summary.html" %}

{% block pageTitle %}
  Select a workflow
{% endblock %}

{% block header %}
  {{ dwpHeader({
    "homepageUrl": "/",
    "serviceName": serviceName,
    "serviceUrl": "/",
    "containerClasses": "govuk-width-container",
    "searchBar": false
  }) }}
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
          
      <h1 class="govuk-heading-l govuk-!-margin-top-9">
        <span class="govuk-caption-l">Claims for manual identity checks</span>
        Select a workflow
      </h1>

      <form action="workflow" method="post">

        <div class="govuk-form-group">

            <fieldset class="govuk-fieldset">

                {{ govukRadios({
                    idPrefix: 'workflow',
                    name: 'workflow',
                    items: [
                        {
                            value: "bio-templates",
                            text: "Bio templates"
                        },
                        {
                            value: "bio-check-claims",
                            text: "Bio check claims"
                        },
                        {
                            value: "suspected-fraud-claims",
                            text: "Suspected fraud claims"
                        },
                        {
                            value: "greenock-claims",
                            text: "Referred to Greenock claims"
                        }          
                    ]
                })
                }}
            </fieldset>

        </div>

        {{ govukButton({
            text: "Confirm"
        }) }}

      </form>
    </div>
  </div>

{% endblock %}
