{% extends "layout/base-no-search-bar-user-1.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}


{% block beforeContent %}
{% endblock %}

{% block content %}

 <div class="govuk-grid-row govuk-!-margin-top-5">

    <div id="progress-container" class="progress-container" role="region" aria-live="assertive" tabindex="-1">
      <p id="progress" class="progress govuk-heading-m" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">Uploading file</p>
      <div class="percentage">
        <p id="percentage"></p>
      </div>

      <a href="javascript:history.back()" class="">Cancel</a>
    </div>

  </div>

    <script>setTimeout(function(){window.location.href = 'check';}, 4000);</script>

  {% endblock %}