{% extends "layout/summary.html" %}

{% block pageTitle %}
  {{ serviceName }}: Application for {{ data['service-short-name']}} Customer Statement | {{ currentClaimantData.claimant.title }} {{ currentClaimantData.claimant.firstName }} {{ currentClaimantData.claimant.lastName }}: {{ currentClaimantData.claimant.nino }}
{% endblock %}

{% block header %}
  
  {# Set serviceName in config.js. #}
  {{ dwpHeader({
    "homepageUrl": "/",
    "serviceName": serviceName,
    "serviceUrl": "/",
    "containerClasses": "govuk-width-container",
    "searchBar": false
  }) }}

  {% include "./key-details.html" %}

{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row govuk-!-margin-top-4 dwp-print-hide">
  <div class="govuk-grid-column-two-thirds">

  <h1 class="govuk-heading-l govuk-!-margin-top-6">ID check claim</h1>


  <section class="dwp-claim-section dwp-claim-section--check dwp-print-no-break">
    {{ govukTag({
      text: "check"
    }) }}
    <h2 class="govuk-heading-m">Identity and trust</h2>
    <dl class="app-check-your-answers app-check-your-answers--long">
      {{ checkAnswersItem("CIS check", "CIS identity risk <br> NI number mismatch") }}
      {{ checkAnswersItem("Fraud check", "Suspicion of fraud, <br> 5 claims with same address") }}
    </dl>
  </section>

<!-- About you -->
<section class="dwp-claim-section dwp-claim-section--check">
  {{ govukTag({
      text: "check"
    }) }}
  <h2 class="govuk-heading-m govuk-!-margin-top-8">Personal details</h2>
  <dl class="app-check-your-answers app-check-your-answers--long">
    {{ checkAnswersItem("National Insurance number", "CX 60 12 13 A") }}
    {{ checkAnswersItem("Name", "Mr Karan Bhopal") }}
    {{ checkAnswersItem("Date of birth", "21/07/1970") }}
    {{ checkAnswersItem("Home address", "<span class='dwp-print-block'>35 Walpole Avenue</span> <span class='dwp-print-block'>Blackpool</span> <span class='dwp-print-block'>Lancashire</span> <span class='dwp-print-block'>FY4 1SF.</span>") }}
    {{ checkAnswersItem("Do you want to add a different address for your post?", "No") }}
    {{ checkAnswersItem("Phone", "01253 752057") }}
    {{ checkAnswersItem("Email address", "Not provided") }}
  </dl>
</section>

<!-- Payment information -->
<section class="dwp-claim-section dwp-print-no-break">
  <h2 class="govuk-heading-m govuk-!-margin-top-8">Bank details</h2>
  <dl class="app-check-your-answers app-check-your-answers--long">
    {{ checkAnswersItem("Name of account holder", "K & A Bhopal") }}
    {{ checkAnswersItem("Sort code", "11 00 64") }}
    {{ checkAnswersItem("Account number", "3333333") }}
  </dl>
</section>


  

  </div>

  <div class="govuk-grid-column-one-third">
    
    <aside class="app-related-items govuk-!-margin-top-9" role="complementary">

            <h3 class="govuk-heading-m">Claim actions</h3>
            {{ govukButton({
              text: "Update claim status",
              href: "claim-status"
            }) }}
            
          <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

            <h3 class="govuk-heading-m">Claim history</h3>

          {{ dwpTimeline({
            items: [
              {
                heading: "ID not verified",
                label: "label",
                author: "by DWP Trust Hub",
                date: "on " + time | momentNowSubtract1
              },
              {
                heading: "Application submitted",
                date: "by claimant on " + time | momentNowSubtract1,
                classes: "dwp-timeline-entry--closing"
              }
            ]
          }) }}

    </aside>

  </div>

</div>


{% endblock %}
