{% extends "layout/summary.html" %}

{% block pageTitle %}
Claim brought forward
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block header %}
  {{ dwpHeader({
    "homepageUrl": "/",
    "serviceName": serviceName,
    "serviceUrl": "/",
    "containerClasses": "govuk-width-container",
    "searchBar": false
  }) }}
  {% include "./key-details.html" %}
{% endblock %}

{% block content %}
<div class="govuk-main-wrapper">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds govuk-!-margin-top-4">

      {{ govukPanel({
        titleText: "The claim was updated",
        html: data['claimStatus'] | replace("-", " ") | capitalize
      }) }}

      {{ govukButton({
        text: "Get next claim",
        href: "../v2/?claimStatus=ID not verified"
      }) }}

      <p><a href="../workflow" class="govuk-link">Change work flow</a></p>

    </div>
    </div>
  </div>
</div>

{% endblock %}