{% extends "layout/base-no-search-bar.html" %}

{% block pageTitle %}
  {{ serviceName }}
{% endblock %}

{% block beforeContent %}{% endblock %}

{% block content %}
  <h1 class="govuk-heading-xl govuk-!-margin-top-9">
    <h1 class="govuk-heading-xl">
      <span class="govuk-caption-xl">Service centre prototypes</span>
    Apply for New Style Jobseeker&rsquo;s Allowance
  </h1>

    <p>Worked on by: Neil Holroyd &ndash; January 2021</p>

    <h3 class="govuk-heading-m">1313: Case load selection and management for processing teams</h3>

    <p>Following on from work undertaken in 2018 these prototypes represent agreed MVP functionality as of November 2020. This requirement is to explore producing a list of cases that have been pushed through to processing.
    </p>

    <ul class="govuk-list govuk-list--bullet">
          <li><a href="https://jira.service.dwpcloud.uk/browse/BWADH-1313">Page on Jira</a></li>
          <li><a href="https://app.mural.co/t/universalcredit7056/m/universalcredit7056/1608712475470/e71b7be30572d3d47b25742abdba8480eac8d9ac">Mural board</a></li>
    </ul>

    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

    <div class="govuk-grid-row govuk-!-margin-top-5">
      <div class="govuk-grid-column-one-half">
      <span class="govuk-tag govuk-!-font-size-14">Latest</span>
      <h2 class="govuk-heading-l">Service centre agent</h2>
      <p>MVP prototypes for service centre agents</p>
      <a href="design-ideas/1313-case-load-management-mvp/service-centre-agent/agent-sign-on" class="govuk-button">Start</a>
        <ul class="govuk-list govuk-list--bullet">
          <li><a href="design-ideas/1313-case-load-management-mvp/service-centre-agent/agent-sign-on">Initial agent sign on</a></li>
          <li><a href="design-ideas/1313-case-load-management-mvp/service-centre-agent/nino-search">Find a claim</a></li>
          <li><a href="design-ideas/1313-case-load-management-mvp/service-centre-agent/all-claims-agent">View my claims</a></li>
          <li><a href="design-ideas/1313-case-load-management-mvp/service-centre-agent/get-next-claim-1">Get next claim</a></li>
          <li><a href="design-ideas/1313-case-load-management-mvp/service-centre-agent/get-next-claim-2">Get next claim with notification</a></li>
          <li><a href="design-ideas/1313-case-load-management-mvp/service-centre-agent/claim-status">Update claim status</a></li>
          <li><a href="design-ideas/1313-case-load-management-mvp/service-centre-agent/claim-brought-forward">&ndash; Claim brought forward</a></li>
          <li><a href="design-ideas/1313-case-load-management-mvp/service-centre-agent/claim-outstanding">&ndash; Claim outstanding</a></li>
          <li><a href="design-ideas/1313-case-load-management-mvp/service-centre-agent/claim-referred-to-dm">&ndash; Claim referred to dm</a></li>
          <li><a href="design-ideas/1313-case-load-management-mvp/service-centre-agent/claim-transfer-to-clerical">&ndash; Claim transferred to clerical</a></li>
          <li><a href="design-ideas/1313-case-load-management-mvp/service-centre-agent/claim-cleared">&ndash; Claim cleared</a></li>
      </ul>

      <p>Other options</p>
      <ul class="govuk-list govuk-list--bullet">

          <li><a href="design-ideas/1313-case-load-management-mvp/service-centre-agent/claim-cleared-button">Claim cleared with button link</a></li>
          <li><a href="design-ideas/1313-case-load-management-mvp/service-centre-agent/claim-status-summary">Update claim status including summary</a></li>
          <li><a href="design-ideas/1313-case-load-management-mvp/service-centre-agent/nav-get-next-claim">Secondary navigation route (3 pages)</a></li>
      </ul>
    </div>

    <div class="govuk-grid-column-one-half">
      <span class="govuk-tag govuk-!-font-size-14">Latest</span>
      <h2 class="govuk-heading-l">Service centre manager</h2>
      <p>MVP prototypes for service centre managers</p>
      <a href="design-ideas/1313-case-load-management-mvp/service-centre-manager/manager-sign-on" class="govuk-button">Start</a>
      <ul class="govuk-list">
        <li><a href="design-ideas/1313-case-load-management-mvp/service-centre-manager/manager-sign-on">Initial manager sign on</a></li>
        <li><a href="design-ideas/1313-case-load-management-mvp/service-centre-manager/all-claims-manager">View all claims</a></li>
        <li><a href="design-ideas/1313-case-load-management-mvp/service-centre-manager/nino-search">Find a claim</a></li>
        <li><a href="design-ideas/1313-case-load-management-mvp/service-centre-manager/get-next-claim-2">View claim</a></li>
        <li><a href="design-ideas/1313-case-load-management-mvp/service-centre-manager/get-next-claim-3-notification">View claim with notification</a></li>
        <li><a href="design-ideas/1313-case-load-management-mvp/service-centre-manager/select-agent">Allocate an agent</a></li>
        <li><a href="design-ideas/1313-case-load-management-mvp/service-centre-manager/agents/agent-update-andrew">Example of agent notification</a></li>
        <li><a href="design-ideas/1313-case-load-management-mvp/service-centre-manager/select-service-centre">Change service centre</a></li>
        <li><a href="design-ideas/1313-case-load-management-mvp/service-centre-manager/centres/centre-update-leeds">Example of centre notification</a></li>
      </ul>
    </div>
  </div>


    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

    <h2 class="govuk-heading-l">Previous versions</h2>

    <!-- VERSION Summer 2020 -->
    <h3 class="govuk-heading-m">
      <a href="service-centre/get-next-claim">Get next claim</a>
    </h3>

    <p>Worked on by: Mark Bateman</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>August 2020 &ndash; I am unsure of the extent of work on this prototype (comment by Neil Holroyd)</li>
    </ul>


    <!-- VERSION – previous complete journeys -->
    <h3 class="govuk-heading-m">
      <a href="index-previous">Complete previous journeys</a>
    </h3>

    <p>Worked on by: Gareth Joyce and Rob Pataki</p>


    <!-- VERSION – previous home page with links to all previous work -->
    <h3 class="govuk-heading-m">
      <a href="home">All other versions and prototypes</a>
    </h3>

    <p>Worked on by: Gareth Joyce and Rob Pataki</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>Links to all previous protoypes on this link</li>
      <li>Note that there may be some broken links from this page due to previous work undertaken</li>
    </ul>

{% endblock %}