{% extends "layout/base-no-search-bar.html" %}

{% block pageTitle %}
  {{ serviceName }}
{% endblock %}

{% block beforeContent %}{% endblock %}

{% block content %}
  <h1 class="govuk-heading-xl govuk-!-margin-top-9">
    <h1 class="govuk-heading-l">
      <span class="govuk-caption-l">Service centre prototypes</span>
      Apply for New Style Jobseeker&rsquo;s Allowance
  </h1>

  <h2 class="govuk-heading-m">2021</h2>

  <h2 class="govuk-heading-m">
    <span class="govuk-caption-m">June</span>
    <ul class="govuk-list govuk-list--bullet">
      <li><a href="future-team/sprint5">Future team - Automation sprint 5 - Fraud and SCOLA exceptions</a></li>
      <li><a href="future-team/idv">Future team - Automation sprint 4 - IDV exceptions</a></li>
    </ul>
  </h2>

  <h2 class="govuk-heading-m">
    <span class="govuk-caption-m">May</span>
    <p><a href="future-team/ur2">Future team - Automation exceptions v2</a></p>
    <p><a href="future-team/exceptions">Future team - Automation exceptions v1</a></p>
  </h2>


  <h2 class="govuk-heading-m">
    <span class="govuk-caption-m">March</span>
    <a href="design-ideas/1752-fraud">1752 - application identified as fraudulent</a>
  </h2>

  <h2 class="govuk-heading-m">
    <span class="govuk-caption-m">March</span>
    <a href="design-ideas/1313-case-load-management">1313 - case management</a>
  </h2>

    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

    <h2 class="govuk-heading-m">2020</h2>

    <!-- VERSION Summer 2020 -->
    <h2 class="govuk-heading-m">
      <span class="govuk-caption-m">August</span>
      <a href="service-centre/get-next-claim">Get next claim</a>
    </h2>
    <p>Worked on by: Mark Bateman</p>

    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

     <h2 class="govuk-heading-m">2018</h2>
    <!-- VERSION – previous complete journeys -->
    <h3 class="govuk-heading-m">
      <span class="govuk-caption-m">Alpha</span>
      <a href="index-previous">Complete previous journeys</a>
    </h3>

    <!-- VERSION – previous home page with links to all previous work -->
    <h3 class="govuk-heading-m">
      <span class="govuk-caption-m">Alpha</span>
      <a href="home">All other versions and prototypes</a>
    </h3>

    <ul class="govuk-list govuk-list--bullet">
      <li>Links to all previous protoypes</li>
      <li>Note that there may be some broken links</li>
    </ul>

    </div>

  {% endblock %}