{% extends "layout/summary.html" %}

{% block pageTitle %}
  Select a status
{% endblock %}

{% block header %}
  {{ dwpHeader({
    "homepageUrl": "/",
    "serviceName": serviceName,
    "serviceUrl": "/",
    "containerClasses": "govuk-width-container",
    "searchBar": false
  }) }}
  {% include "./key-details.html" %}
{% endblock %}

{% block content %}

{% set failHtml %}
{{ govukCheckboxes({
  idPrefix: "first-fail-contact",
  name: "first-fail-contact",
  fieldset: {
    legend: {
      text: "What did you do?",
      classes: "govuk-fieldset__legend--m"
    }
  },
  hint: {
    text: "Select all that apply."
  },
  items: [
    {
      value: "sms",
      text: "Sent an SMS"
    },
    {
      value: "voicemail",
      text: "Left a voicemail"
    },
    {
      value: "email",
      text: "Sent an email"
    },
    {
      value: "letter",
      text: "Sent a JSA 164 letter"
    },
    {
      value: "scola",
      text: "Asked advice from SCOLA"
    }
  ]
}) }}
{% endset -%}

{% set referHtml %}
{{ govukRadios({
  idPrefix: "refer-claim",
  name: "refer-claim",
  fieldset: {
    legend: {
      text: "Which SCOLA team do you need?",
      classes: "govuk-fieldset__legend--m"
    }
  },
  items: [
    {
      value: "wa-scola",
      text: "Working age SCOLA"
    },
    {
      value: "uc-scola",
      text: " UC SCOLA"
    }
  ]
}) }}
{% endset -%}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
          
      <h1 class="govuk-heading-l govuk-!-margin-top-6">
        Update claim status
      </h1>

      <form action="claim-status" method="post">

        <div class="govuk-form-group">

            <fieldset class="govuk-fieldset">

                {{ govukRadios({
                    idPrefix: 'status',
                    name: 'claimStatus',
                    items: [
                        {
                            value: "id-verified",
                            text: "ID verified",
                            hint: {
                              text: "Bio check complete, the claim will be pushed to JSAPS."
                            }
                        },
                        {
                            value: "bio-template-requested",
                            text: "Request bio template"
                        },
                        {
                            value: "first-fail",
                            text: "First fail to contact",
                            conditional: {
                              html: failHtml
                            }
                        },
                        {
                            value: "suspected-fraud",
                            text: "Suspected fraud",
                            hint: {
                              text: "Refer this claim to the SCOLA team."
                            },
                            conditional: {
                              html: referHtml
                            }
                        }                     
                    ]
                })
                }}
            </fieldset>

        </div>

        {{ govukButton({
            text: "Confirm"
        }) }}

      </form>
    </div>
  </div>

{% endblock %}
